@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
/*@font-face {
	font-family:'Nanum Gothic'; font-style:normal; font-weight:400;
	src:url('../fonts/NanumGothic-Regular.eot');
	src:local('NanumGothic'),
		url('../fonts/NanumGothic-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/NanumGothic-Regular.woff') format('woff');
}
@font-face {
	font-family:'Nanum Gothic'; font-style:normal; font-weight:700;
	src:url('../fonts/NanumGothic-Bold.eot');
	src:local('NanumGothic Bold'),
		url('../fonts/NanumGothic-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/NanumGothic-Bold.woff') format('woff');
}*/

/*basic*/
html, button, input, select, textarea {color:#666;font-size:12px;font-family:'Nanum Gothic', '맑은 고딕', '돋움', Dotum, sans-serif, Tahoma;}
body {font-size:12px;font-family:'Nanum Gothic', '맑은 고딕', '돋움', Dotum, sans-serif, Tahoma;color:#666;letter-spacing: -1px;}
::-moz-selection {background:#aaa;text-shadow:none;}
::selection {background:#aaa;text-shadow:none;}
hr {display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}
img {vertical-align:middle;border:none;}
fieldset {border: 0; margin: 0; padding: 0; }
textarea {resize: vertical; }
.chromeframe {margin: 0.2em 0; background: #ccc; color: #000; padding: 0.2em 0; }
a {color:#494949;text-decoration: none}
a:visited {color:#494949;text-decoration: none}
a:hover {color:#494949;text-decoration: none}
select {font-family:'Nanum Gothic', '맑은 고딕', '돋움', Dotum, sans-serif, Tahoma;font-size:12px;vertical-align:middle;}
dd{margin:0;}
label,input{vertical-align:middle;}
ul,ol,li{list-style:none;padding:0;margin:0;}
.clear{clear:both;content:"";display:block;padding:0;margin:0;width:0;height:0;line-height:0;font-size:0;}
h3{margin-bottom:30px;}
h4{margin-bottom:30px;}
h5{margin-bottom:20px;}
h6{margin-bottom:20px;font-family:'Nanum Gothic', '맑은 고딕', '돋움', Dotum, sans-serif, Tahoma;font-size:20px;font-weight:bold;}
h7{margin-bottom:20px;font-family:'Nanum Gothic', '맑은 고딕', '돋움', Dotum, sans-serif, Tahoma;font-size:28px;font-weight:bold;}
p{line-height:22px;}
h4 + p{margin-bottom:20px;}
h5 + p{margin-bottom:20px;}

table {border-collapse:collapse;border:0;border-spacing:0;empty-cells:show;width:100%;}
td,th {border:0;}

.clfix:after{content:".";display:block;clear:both;visibility:hidden;height:0}
/*.clfix{display: inline-block}*/
* html .clfix{height:1%}
* {zoom:1;}
.blind {position:abolute;left:0;top:0;overflow:hidden;visibility:hidden;width:0;height:0;text-indent:-9999px;z-index:-1;}