@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
/*@font-face {
	font-family:'Nanum Gothic'; font-style:normal; font-weight:400;
	src:url('../fonts/NanumGothic-Regular.eot');
	src:local('NanumGothic'),
		url('../fonts/NanumGothic-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/NanumGothic-Regular.woff') format('woff');
}
@font-face {
	font-family:'Nanum Gothic'; font-style:normal; font-weight:700;
	src:url('../fonts/NanumGothic-Bold.eot');
	src:local('NanumGothic Bold'),
		url('../fonts/NanumGothic-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/NanumGothic-Bold.woff') format('woff');
}*/

/*basic*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td {font-size:100%; font-family:inherit; margin:0; padding:0; border:0; vertical-align:baseline; word-break:break-all;}
body {line-height:1; color:black; background:white;}
ol, ul, dl, li {list-style:none;}
table {border-collapse:separate; border-spacing:0;}
caption, th, td {text-align:left; font-weight:normal;}
blockquote:before, blockquote:after, q:before, q:after {content:'';}
blockquote, q {quotes:'' '';}
button,
input {overflow:visible;}
input, select, img {vertical-align:middle;}
textarea {overflow:auto;vertical-align:top;}
em {font-style:normal;}

/*
 * html5
 * abbr article aside audio bdi canvas data datalist details figcaption figure footer header hgroup main mark meter nav output progress section summary time video
 */
figure,section,header,footer,article,aside,nav {display:block; margin:0 auto;}

html,body {height:100%;}
html {overflow-y:scroll;}
body,input,textarea,button,table {font-size:12px; line-height:1.2; color:#666; font-family:'Nanum Gothic', '맑은 고딕', '돋움', Dotum, sans-serif, Tahoma;}
legend {font:0/0 a; position:absolute; right:-999em; top:-999em;}

input,button,select,select option,textarea {margin:0; box-sizing:border-box; -moz-box-sizing:border-box;}

a {color:inherit; text-decoration:none;}
a:hover, a:active, a:focus {text-decoration:underline;}

table {border-collapse:collapse;border:0;border-spacing:0;empty-cells:show;width:100%;}
td,th {border:0;}

.clfix:after{content:".";display:block;clear:both;visibility:hidden;height:0}
/*.clfix{display: inline-block}*/
* html .clfix{height:1%}
* {zoom:1;}
.blind {position:abolute;left:0;top:0;overflow:hidden;visibility:hidden;width:0;height:0;text-indent:-9999px;z-index:-1;}